{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seshat | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/lib/bootstrap.min.css" %}">
    {% block css %}
    {% endblock %}
    <script src="{% static "/js/lib/jquery.min.js" %}"></script>
    <script src="{% static "js/lib/bootstrap.min.js" %}"></script>
</head>

<body>

<div class="container">
    <div class="row mt-5"></div>
    {% block content %}
    {% endblock %}
</div>

{% block script %}
{% endblock %}
</body>
</html>